body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(10, 10, 10, 0.25);  
    /*
    background-color: black;  
    background-image: url("assets/img/background-3.jpg");
    background-attachment: fixed; 
    background-position: center; 
    background-size: cover;
    */
}

/* Contenedor principal de la página */

#container {
    display: flex; 
    flex-direction: column;
    min-height: 100vh; 
    width: 70%;
    transition: opacity 1.5s ease-in-out;
    padding: 0;
    user-select: none;  
    background-color: rgba(0, 0, 0, 0.45);
}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Estilos para el encabezado de la página */

#header {
    display: flex; 
    flex-wrap: wrap; 
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 30px;
}

#header-text {
    font-family: 'Blacklisted', sans-serif; 
    font-size: 75px;
    transition: transform 0.2s; 
    border-radius: 10px;
    color: white;
}

#header .my-photo {
    background-image: url("assets/img/me.png");
    background-color: rgb(243, 224, 243);
    background-attachment: fixed; 
    background-position: center; 
    background-size: cover;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    animation: bounce 3s ease-in-out infinite;
    box-shadow: 0 0 4px 2px white; 
}

#header-text:hover {
    transition: color 0.5s; 
    animation: tilt 0.3s ease infinite alternate; 
}

/* Clase para ocultar elementos */

.hidden { display: none; }


/* Estilos para la barra de navegación */

#navigation { width: 100%; }

#navigation ul {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    text-align: center; 
    margin-top: 1px;
}

#navigation ul li {
    list-style: none; 
    transform: scale(1); 
    margin-right: 35px; 
    margin-bottom: 25px;
}

#navigation ul li a {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 22px; 
    font-weight: bold; 
    text-decoration: none; 
    color: white;
    padding: 15px;
}

#navigation ul li a:hover { animation: rotate 0.4s ease-in-out forwards; }

/* Estilos para la sección principal de la página */

#main {
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

/* Estilos para las secciones individuales */

#main section {
    width: 65%;
    min-height: 250px;
    transform: scale(1);
    transition: transform 0.3s ease-in-out; 
    view-timeline-name: --section;
    view-timeline-axis: block; 
    animation-timeline: --section; 
    animation-name: show;
    animation-range: entry 25% cover 23%; 
    animation-fill-mode: both; 
    background-color: rgba(10, 10, 10, 0.9); 
    font-family: 'Raleway', sans-serif;
    color: white;
    box-shadow: 0 0 5px 1px white;
    border-radius: 10px; 
    cursor: pointer; 
    margin: 20px auto;
}

#main section:hover { transform: scale(1.05); }

#main section h2 {
    text-align: center; 
    font-size: 22px; 
    margin: 40px; 
}

#main section p {
    font-size: 18px; 
    line-height: 1.75; 
    margin: 50px;
}

#main section .technologies-img-container, #main section .contact-links-container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
}

#main section .technologies-img-container img {
    width: 60px;
    height: 60px;
    padding: 15px;
}

#main section .contact-links-container img {
    height: 50px;
    width: 50px;
    padding: 15px;
}

/* Keyframes */

@keyframes tilt {
    0%, 100% { transform: rotate(0deg); }
    25% { transform: rotate(5deg);  }
    50% { transform: rotate(-5deg); }
    75% { transform: rotate(3deg); }
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

/* Fuentes personalizadas */

@font-face {
    font-family: 'Blacklisted';
    src: url('assets/fonts/blacklisted.ttf') format('opentype');
}

@font-face {
    font-family: 'Snorter';
    src: url('assets/fonts/snorter.ttf') format('opentype');
}