body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);  
    /*
    background-image: url("assets/img/background-3.jpg");
    background-attachment: fixed; 
    background-position: center; 
    background-size: cover;
    overflow: hidden; /* Evitar barras de desplazamiento  
    */
}

/* Contenedor principal de la página */

#container {
    display: flex; 
    flex-direction: column;
    min-height: 100vh; 
    width: 85%;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
    margin: 0 auto;
}

#container.show { opacity: 1; }

/* Estilos para el encabezado de la página */

#header {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 35px;
}

#header-text {
    font-family: 'Blacklisted', sans-serif; 
    font-size: 60px;
    transition: transform 0.2s; 
    border-radius: 10px;
    user-select: none;  
    color: rgba(204, 203, 203);
}

#header .my-photo {
    background-image: url("assets/img/me.jpeg");
    background-attachment: fixed; 
    background-position: center; 
    background-size: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    animation: bounce 3s ease-in-out infinite;
    box-shadow: 0 0 10px white;
  }

#header-text:hover {
    transition: color 0.5s; 
    animation: tilt 0.3s ease alternate; 
    /* animation: tilt 0.3s ease infinite alternate; */
}

/* Clase para ocultar elementos */

.hidden { display: none; }

/* Estilos para la barra de navegación */

#navigation ul {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    text-align: center; 
}

#navigation ul li {
    list-style: none; 
    transform: scale(1); 
    margin-right: 35px; 
    margin-bottom: 25px;
}

#navigation ul li a {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 19px; 
    font-weight: bold; 
    text-decoration: none; 
    color: rgba(204, 203, 203); 
    padding: 15px;
    user-select: none; 
    /* transition: color 0.2s; */
}

#navigation ul li a:hover {
    animation: rotate 0.4s ease-in-out forwards; 
    /* color: rgba(245, 242, 72, 0.9); */
}

/* Estilos para la sección principal de la página */

#main {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
}

/* Estilos para las secciones individuales */

#main section {
    width: 1000px;
    min-height: 250px;
    transform: scale(1);
    transition: transform 0.3s ease-in-out; 
    view-timeline-name: --section;
    view-timeline-axis: block; 
    animation-timeline: --section; 
    animation-name: show;
    animation-range: entry 25% cover 23%; 
    animation-fill-mode: both; 
    background-color: rgba(0, 0, 0, 0.85); 
    color: rgba(204, 203, 203);
    box-shadow: 0 0 7px 1px rgba(204, 203, 203, 0.658);
    border-radius: 10px; 
    cursor: pointer; 
    margin: 25px; 
}

#main section:hover { transform: scale(1.05); }

#main section h2 {
    text-align: center; 
    font-size: 24px; 
    margin: 40px; 
}

#main section p {
    font-size: 17.5px; 
    line-height: 1.75; 
    margin: 50px;
}

#main section .technologies-img {
    display: inline-block;
    justify-content: center;
    margin-bottom: 15px;
}

#main section .technologies-img img {
    width: 75px;
    height: 75px;
    padding: 15px;
}

#main section .contact-links {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

#main section .contact-links img {
    height: 50px;
    width: 50px;
    margin-right: 35px;
}

/* Keyframes */

@keyframes show {
    from { opacity: 1; scale: 25%; }
    to { opacity: 1; scale: 100%; }
}

@keyframes tilt {
    0%, 100% { transform: rotate(0deg); }
    25% { transform: rotate(5deg);  }
    50% { transform: rotate(-5deg); }
    75% { transform: rotate(3deg); }
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

/* Fuentes personalizadas */

@font-face {
    font-family: 'Blacklisted';
    src: url('assets/fonts/blacklisted.ttf') format('opentype');
}

@font-face {
    font-family: 'Snorter';
    src: url('assets/fonts/snorter.ttf') format('opentype');
}