body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url("assets/img/background-3.jpg");
    background-attachment: fixed; 
    background-position: center; 
    background-size: cover;
}

/* Contenedor principal de la página */

#container {
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh; 
    display: flex; 
    flex-direction: column;
    /* user-select: none; */
    transition: opacity 1.5s ease-in-out;
    /* background-color: rgba(0, 0, 0, 0.3); */
}

#contact-links {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 8px;
}

#contact-links img {
    height: 40px;
    width: 40px;
    padding: 15px;
    transform: scale(1); 
}

#contact-links img:hover { transform: scale(1.2); }

/* Clase para ocultar elementos */

.hidden { display: none; }

/* Estilos para la barra de navegación */

#nav {
    padding: 0;
    margin: 0;
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

#nav ul {
    margin: 0;
    padding: 0;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    list-style: none; 
}

#nav ul li { margin: 0 50px; }

#nav ul li a {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 20px; 
    font-weight: bold; 
    line-height: 2.5;
    text-decoration: none; 
    cursor: pointer;
    color: white;
}

#nav a.active { 
    border-bottom: 2px solid rgba(113, 169, 241, 0.9);
    color: rgba(113, 169, 241, 0.9); 
}

#nav a:hover { border-bottom: 2px solid white; color: white }

/* Estilos para la sección principal de la página */

#main {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Estilos para las secciones individuales */

section {
    display: none;
    width: 65%;
    margin-bottom: 20px;
    padding: 20px;
    transform: scale(1);
    border-radius: 10px; 
    font-family: 'Raleway', sans-serif;
    background-color: rgba(10, 10, 10, 0.98); 
    color: white;  
    box-shadow: 0 0 12px rgba(113, 169, 241); 
    /* transition: transform 0.3s ease-in-out; */
}

/* #main section:hover { transform: scale(1.05); } */

section h2 {
    text-align: center; 
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 22px; 
    color: rgba(113, 169, 241, 0.9);
}

section h2:hover { animation: rotate 0.4s ease-in-out forwards; } 

section p, #main section ul li {
    font-size: 15.5px; 
    line-height: 2; 
    width: 86%;
    margin: 30px auto;
}

#section1-img-container {
    padding:0;
    width: 100%;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 40px;
}

#section1-img-container .my-photo {
    width: 200px;
    height: 200px;
    background-image: url("assets/img/me.png");
    background-color: rgb(243, 224, 243);
    background-attachment: fixed; 
    background-position: center; 
    background-size: cover;
    border-radius: 50%;
    /* border: 2px solid rgba(106, 153, 214, 0.7); */
    /* animation: bounce 2s ease-in-out infinite;  */
}

#section1 .download {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
#section1 .download img {
    height: 35px;
    width: 35px;
    padding-right: 15px;
}

#section1 .download a {
    font-family: 'Raleway', sans-serif;
    font-size: 20px; 
    font-weight: bold; 
    text-decoration: none; 
    cursor: pointer;
    color: rgba(113, 169, 241, 0.9);
    background-color: rgba(10, 10, 10, 0.9);
    border: none;
    /* margin: 0 auto; */
}

#section1 .download a:hover { animation: tilt 0.25s ease infinite alternate; }

#section2-subsection {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    width: 100%;
}

#section1 .technologies-img-container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    margin-bottom: 0;
}

#section2-subsection .technologies-img-container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    margin-bottom: 25px;
}

#section2-subsection .project-img-container,
#section2-subsection .repository-link  { 
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: row;
    justify-content: center;
    margin-bottom: 25px;
}

#section1 .technologies-img-container img,
#section2-subsection .technologies-img-container img {
    width: 60px;
    height: 60px;
}

#section2-subsection .li-title { color: rgba(113, 169, 241, 0.9); }

#section1 .technologies-img-container img,
#section2-subsection .technologies-img-container img,
#section2-subsection .repository-link img { 
    height: 50px;
    width: 50px;
    padding: 25px;
}

#section2-subsection .project-img-container img {
    width: 80%;
    height: auto; 
    display: block; 
    margin: 0 auto;
}

#section1 .technologies-img-container img:hover,
#section2-subsection .technologies-img-container img:hover { transform: scale(1.20); }

#section2 .section2-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

#section2 #next-item-btn, 
#section2 #prev-item-btn {
    font-family: 'Raleway', sans-serif;
    font-size: 20px; 
    font-weight: bold; 
    text-decoration: none; 
    cursor: pointer;
    color: rgba(113, 169, 241, 0.9);
    background-color: rgba(10, 10, 10, 0.9);
    border: none;
}

#main #section2 #next-item-btn:hover, 
#main #section2 #prev-item-btn:hover { 
    animation: tilt 0.25s ease infinite alternate; 
}

#main #section3 { width: 30%; }

#main #section3 form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main #section3 form label { margin: 20px; }

#main #section3 form input, 
#main #section3 form textarea,
#main #section3 .btn-submit { 
    width: 80%;
    margin: 20px;
    padding: 5px; 
    border-radius: 5px; 
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 16px; 
    line-height: 2;
}

#main #section3 form textarea { min-height: 300px; }

#main #section3 .btn-submit {
    width: 50%;
    margin-top: 25px;
    transform: scale(1); 
}

#main #section3 .btn-submit:hover {
    transform: scale(1.05); 
    color: rgba(88, 154, 240, 0.9);
    cursor: pointer;
}

/* Estilos para dispositivos móviles */

@media only screen and (max-width: 768px) {

    #main #section1,
    #main #section2,
    #main #section3 {
        width: 80%; 
        padding: 30px; 
    }

    #main section h2 {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 22px; 
        color: rgba(113, 169, 241, 0.9);
    }
    
    #main section h2:hover,
    #main #section1 .download a:hover,
    #main #section2 #next-item-btn:hover, 
    #main #section2 #prev-item-btn:hover { 
        animation: none; 
    }

    #section1 .technologies-img-container { margin-bottom: 0; }

    #section2-subsection .project-img-container img {
        width: 100%;
        height: auto; 
        display: block; 
        margin: 0 auto;
    }

    #contact-links img,
    #section1 .technologies-img-container img,
    #section2-subsection .technologies-img-container img {
        height: 40px;
        width: 40px;
        padding: 10px;
    }

    #section2-subsection .repository-link img {
        height: 40px;
        width: 40px;
        padding: 25px;
    }

    #main #section3 form label {  margin: 10px 0; }

    #main #section3 form input,
    #main #section3 form textarea {
        width: 95%;
    }

    #main #section3 .btn-submit { width: 50%;}

    #main #section2 .technologies-img-container { margin-bottom: 30px; }

    #section2-subsection .repository-link  { margin: 20px auto; }

}

/* Keyframes */

@keyframes tilt {
    0%, 100% { transform: rotate(0deg); }
    25% { transform: rotate(5deg);  }
    50% { transform: rotate(-5deg); }
    75% { transform: rotate(3deg); }
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }

    50% { transform: translateY(-6px); }
}

/* Fuentes personalizadas */

@font-face {
    font-family: 'Blacklisted';
    src: url('assets/fonts/blacklisted.ttf') format('opentype');
}

@font-face {
    font-family: 'Snorter';
    src: url('assets/fonts/snorter.ttf') format('opentype');
}

/*

video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    object-fit: cover;
    z-index: -1;
}
*/

/*
#header-text {
    font-family: 'Blacklisted', sans-serif; 
    font-size: 75px;
    transition: transform 0.2s; 
    border-radius: 10px;
    color: white;
}

#header-text:hover { animation: tilt 0.3s ease infinite alternate; }

*/